# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
*/venv/
*/.venv/
huaray-llm/

# Environment variables
.env
.env.*

# Streamlit secrets
.streamlit/secrets.toml

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
